<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>跳转到tableView</string>
		<key>controller</key>
		<string>TableViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到Masonry</string>
		<key>controller</key>
		<string>MasonryViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到scrollView</string>
		<key>controller</key>
		<string>ScrollViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到secondView</string>
		<key>controller</key>
		<string>SecondViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到thirdView</string>
		<key>controller</key>
		<string>ThirdViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到TableView带索引</string>
		<key>controller</key>
		<string>TableViewIndexsController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到TableView自定义Cell</string>
		<key>controller</key>
		<string>TableViewCustonCellViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到TableView不同Cell</string>
		<key>controller</key>
		<string>TableViewDiffCellViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到购物车</string>
		<key>controller</key>
		<string>ShoppingCartViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到UIApplication学习</string>
		<key>controller</key>
		<string>UiapplicationStudyViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到PickView</string>
		<key>controller</key>
		<string>PickViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到PickView的使用</string>
		<key>controller</key>
		<string>PickViewUseViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到通讯录Demo</string>
		<key>controller</key>
		<string>ABLoginViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到WKWebView</string>
		<key>controller</key>
		<string>WKWebViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>页面跳转反向传值示例</string>
		<key>controller</key>
		<string>DeliverValueFirstViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>本地持久化数据5种方式</string>
		<key>controller</key>
		<string>LocalValueMainViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到个人详情</string>
		<key>controller</key>
		<string>UserDetailViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跳转到自带TabBar</string>
		<key>controller</key>
		<string>TabBarSystemViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>搭建基础展示框架</string>
		<key>controller</key>
		<string>BaseUIFrameViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Modal跳转方式</string>
		<key>controller</key>
		<string>ModalViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>动画相关</string>
		<key>controller</key>
		<string>AnimationMainViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Event事件</string>
		<key>controller</key>
		<string>EventMainViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>抽屉效果</string>
		<key>controller</key>
		<string>DrawerViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绘图Quartz2D</string>
		<key>controller</key>
		<string>Quartz2DViewController</string>
	</dict>
</array>
</plist>
