<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MainJumpViews.plist
   iOSStudy

   Created by dodoca on 2020/6/9.
   Copyright (c) 2020 dodoca. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
