<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>节奏打砖块</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/7594e9e3bfd541d1831fcc5a68fb5f05.png</string>
		<key>download</key>
		<string>1.8亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天天爱消除</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/778840e42a064b0fb12ab00c1a41b6db.png</string>
		<key>download</key>
		<string>2.7亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>开心消消乐</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/d9120f05805d463a829867fab4bc2bbc.png</string>
		<key>download</key>
		<string>3.3亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菜鸡</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/ea26606d7871433ab01a8682afb5a08f.png</string>
		<key>download</key>
		<string>2.4亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王者荣耀</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/9322230397e944e1801ff76cfcb975fb_1.png</string>
		<key>download</key>
		<string>2.5亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贪吃蛇大作战</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/bd04798909bd4192a641cd0a10623eb9.png</string>
		<key>download</key>
		<string>8097万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>疯狂成语</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/a499225696bf49ee8bd16980386c8774.png</string>
		<key>download</key>
		<string>1629万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一个都不能死</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/51846ad76cbb4428b058a63e4750cede.png</string>
		<key>download</key>
		<string>1159万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>答题超人</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/889796514bb544c481b73912ccf2f74a.png</string>
		<key>download</key>
		<string>3917万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>钢琴节奏师</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/cb168f20e07140d69b50d370c6cdbad6.png</string>
		<key>download</key>
		<string>1.8亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>饥饿鲨进化</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/b377942bbdce4af99e7108bc5fcabe62.png</string>
		<key>download</key>
		<string>3173万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>迷你世界</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/1487ba9adaf84428a73a160c91013ccd_1.png</string>
		<key>download</key>
		<string>2.1亿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滚动天空</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/a85609359fc443acb888da2a205d3ed3.png</string>
		<key>download</key>
		<string>3057万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红蓝大作战</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/a6339ae7fbd442fab90e3c847797737b.png</string>
		<key>download</key>
		<string>1160万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>https://appimg.dbankcdn.com/hwmarket/files/application/icon144/b88ba11cc63349c7b83cc877779d6517.png</string>
		<key>download</key>
		<string>52万</string>
	</dict>
</array>
</plist>
