<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<integer>10000</integer>
		<key>icon</key>
		<string>drink1</string>
		<key>name</key>
		<string>纽约饮料</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>500</integer>
		<key>icon</key>
		<string>drink2</string>
		<key>name</key>
		<string>脉动</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>500</integer>
		<key>icon</key>
		<string>drink3</string>
		<key>name</key>
		<string>天方叶谈</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>500</integer>
		<key>icon</key>
		<string>drink4</string>
		<key>name</key>
		<string>乐虎</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>1800</integer>
		<key>icon</key>
		<string>drink5</string>
		<key>name</key>
		<string>星巴克咖啡</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>800</integer>
		<key>icon</key>
		<string>drink6</string>
		<key>name</key>
		<string>桔汁</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>1500</integer>
		<key>icon</key>
		<string>drink7</string>
		<key>name</key>
		<string>不知名饮料</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>700</integer>
		<key>icon</key>
		<string>drink8</string>
		<key>name</key>
		<string>矿泉水</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>300</integer>
		<key>icon</key>
		<string>drink9</string>
		<key>name</key>
		<string>芬达汽水</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>500</integer>
		<key>icon</key>
		<string>drink10</string>
		<key>name</key>
		<string>雪碧新品</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>600</integer>
		<key>icon</key>
		<string>drink11</string>
		<key>name</key>
		<string>茶马</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>800</integer>
		<key>icon</key>
		<string>drink12</string>
		<key>name</key>
		<string>伊右衡门</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>1000</integer>
		<key>icon</key>
		<string>drink13</string>
		<key>name</key>
		<string>魔兽饮料</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>250</integer>
		<key>icon</key>
		<string>drink14</string>
		<key>name</key>
		<string>冰红茶</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>1900</integer>
		<key>icon</key>
		<string>drink15</string>
		<key>name</key>
		<string>进口果汁</string>
	</dict>
</array>
</plist>
